

            //console.log('Previous Color ->' +cart['pr' + a][4]);
            //var inputValues = ["start"];
            var inputValues = ["start=>",cart['pr' + a][4]];
            newItemColor = cart['pr' + a][4] =  inputValues;
            console.log('Start to build Color  Array ->' +newItemColor);

            //var inputValues = [cart['pr' + a][4]];
            //var newTodoInput = {}; // <-- This is the key to this working properly
            //var idNumber = 0;
            //var keys = [];
            //var colorValues = [];
            //var hotelName = [];    
                //hotelName.push(newColor);
                //console.log(hotelName.length); // < read the length of the amended array here
                //console.log(hotelName); // just so you can see the content

            //var object = {ProductItem: makeProductID ,ItemNo: productItem , IsColor: newColor};
                //$.each(object, function(key, value) {
                    //keys.push(key);
                    //colorValues.push(value);
                    //newTodoInput.name = newColor ; // obj
                    //newTodoInput.id = productItem;
                    //colorValues.push(newTodoInput);
                //});
            //console.log(color Values);

            //newTodoInput.name = newColor ; // obj
            //newTodoInput.id = productItem;
            console.log('New Color Coming To Push In a Array ->'+newColor);
            inputValues.push(newColor);
            console.log('New Color Push To array ->'+inputValues);